@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

:root{
  --primary-color: #29bbd4;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Lato, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a{
  color: #a9a9a9!important;
  text-decoration: none!important;
  transition: .3s all ease-in-out;
}

a:hover{
  color: var(--primary-color)!important
}
a.active, a .active{
  color: var(--primary-color)!important
}

.navbar-nav .nav-link, .navbar-nav .nav-item{
  font-weight: 600;
}

.navbar-nav .nav-link:hover{
  color: var(--primary-color)!important;
}